<section id="userstoryapp">
  <header id="header">
    <h1>userstories</h1>
    <form id="userstory-form" ng-submit="addUserStory()">
      <input id="new-userstory" placeholder="What needs to be done?" ng-model="newUserStory" autofocus>
    </form>
  </header>
  <section id="main" ng-show="userstories.length" ng-cloak>
    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="userstory-list">
      <li ng-repeat="(id, userstory) in userstories | filter:statusFilter track by $index" ng-class="{completed: userstory.completed, editing: userstory == editedUserStory}">
        <div class="view">
          <input class="toggle" type="checkbox" ng-model="userstory.completed" ng-change="userstory.$update()">
          <label ng-dblclick="editUserStory(id)">{{userstory.title}}</label>
          <button class="destroy" ng-click="removeUserStory(id)"></button>
        </div>
        <form ng-submit="doneEditing(id)">
          <input class="edit" ng-model="userstory.title" userstory-escape="revertEditing(id)" ng-blur="doneEditing(id)" userstory-focus="userstory == editedUserStory">
        </form>
      </li>
    </ul>
  </section>
  <footer id="footer" ng-show="userstories.length" ng-cloak>
    <span id="userstory-count"><strong>{{remainingCount}}</strong>
      <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
    </span>
    <ul id="filters">
      <li>
        <a ng-class="{selected: status == ''} " href="?">All</a>
      </li>
      <li>
        <a ng-class="{selected: status == 'active'}" href="?q=active">Active</a>
      </li>
      <li>
        <a ng-class="{selected: status == 'completed'}" href="?q=completed">Completed</a>
      </li>
    </ul>
    <button id="clear-completed" ng-click="clearCompletedUserStories()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
  </footer>
</section>